@using TestCarWash.Content.Common
@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>@PageStrings.OrganizationNameText</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Учёт оказанных услуг</h2>
        <p>Управление информацией об оказании услуг</p>
        <p><a class="btn btn-default" href="/ProvidedService">Оказанные услуги &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ассортимент</h2>
        <p>Мы предоставляем большой выбор услуг, также доступны комплексные работы</p>
        <p><a class="btn btn-default" href="/Service">Список всех услуг &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Качество</h2>
        <p>Наши клиенты в полной мере остаются довольны проделанной нами работой</p>
        <p><a class="btn btn-default" href="/Client">Клиенты нашей автомойки &raquo;</a></p>
    </div>
</div>